{% load static %}
<div class="d-flex justify-content-center align-items-center pt-2">
    <a href="/">
        <img src="{% if site_config.logo %}{{site_config.logo.url}}{% endif %}" height="128" width="128" alt="Logo {{site_config.name}}" style="height:128px;width:auto;" />
    </a>
</div>
<nav class="navbar navbar-expand navbar-light"  style="font-size: 1.25rem;">
    <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbarSite">
        <ul class="navbar-nav d-flex justify-content-center">
            {% if SHOP_ACTIVE %}
            <li class="nav-item ml-3">
                <a class="nav-link text-dark" href="{% url 'shop-home' %}">
                    Tienda
                </a>
            </li>
            {% endif %}
            {% if BLOG_ACTIVE %}
            <li class="nav-item ml-3">
                <a class="nav-link text-dark" href="{% url 'blog-home' %}">
                    Blog
                </a>
            </li> 
            {% endif %}
            {% for page in site_pages %}
            {% if page.featured %}
            <li class="nav-item ml-3">
                <a class="nav-link text-dark" href="{% url 'site-page-slug' page.slug%}">
                    {{page.name}}
                </a>
            </li> 
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>