{% block footer %}

<!-- info section -->

<footer class=" pb-5 pt-2">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <h6 class="mb-4" style="font-size: 1.25rem;">
                        ACERCA DE NOSOTROS
                    </h6>
                    <p>

                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h6 class="mb-4" style="font-size: 1.25rem;">
                        NOVEDADES Y PROMOCIONES
                    </h6>
                    <form class="form-inline" action="#">
                        <input type="email" class="form-input" placeholder="Introduce tu email">
                        <button type="submit" class="btn btn-primary">
                            Subscríbete
                        </button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h6 class="mb-4" style="font-size: 1.25rem;">
                        CONTACTO
                    </h6>
                    <span>shop@deninos.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}