{% load static %}
<!DOCTYPE html>
<html lang="es">
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %} - {% block title_end %}deniños.com{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:locale" content="es_ES" />
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />

    {% block meta_extra %}{% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'shop/favicon.png' %}" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- LazyLoad -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.5/dist/lazyload.min.js"></script>
    <!-- Google tag (gtag.js) -->
</head>

<body class="" style="
color: #101010;
background-color: rgb(249, 249, 249);
font-family:'poppins',sans-serif;">
    <!-- Header -->
    {% block header %}
    <header>
        <!-- Nav -->
        {% block nav %} {% include "giftos/components/nav.html" %} {% endblock %}
        <!-- Hero -->
        {% block hero %}{% endblock %}
    </header>
    {% endblock %}
    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include "giftos/components/footer.html" %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- LazyLoad Init -->
    <script>
        var lazyLoadInstance = new LazyLoad({});
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8N21VLDJ7E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8N21VLDJ7E');
    </script>
    {% block script_extra %}{% endblock %}
</body>


</html>