{% extends "shop/shop/layouts/base.html" %}

{% load common_extras %}
{% load shop_extras %}

{% block title %}{{shop_config.title_home}}{% endblock %}
{% block meta_description %}{{shop_config.description_home}}{% endblock %}
{% block meta_keywords %}{{shop_config.keywords_home}}{% endblock %}

{% block meta_extra %}

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{shop_config.canonical_url}}{% url 'category-list' %}">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES" />
<meta property="og:title" content="{{shop_config.title_home}}">
<meta property="og:description" content="{{shop_config.description_home}}">
<meta property="og:image" content="shop_config.image_home.url">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{shop_config.canonical_url}}{% url 'category-list' %}">
<meta property="twitter:url" content="{{shop_config.canonical_url}}">
<meta name="twitter:title" content="{{shop_config.title_home}}">
<meta name="twitter:description" content="{{shop_config.description_home}}">
<meta name="twitter:image" content="shop_config.image_home.url">
  
<!-- Canonical -->
<link rel="canonical" href="{{shop_config.canonical_url}}{% url 'category-list' %}">

{% endblock %}

{% block meta_extra %}
<!-- Canonical -->
{% endblock %}

{% block content %}

{% include "shop/shop/components/category/nav.html" with categories=shop_categories %}
{% include "shop/shop/components/category/list.html" with categories=shop_categories %}

{% endblock %}