{% extends "shop/layouts/base.html" %}
{% load static %}
{% block title %}{{category.title}}{% endblock %}
{% block meta_description %}{{category.description}}{% endblock %}
{% block meta_keywords %}{{category.keywoords}}{% endblock %}

{% block content %}

{% comment %} PRODUCT INFO {% endcomment %}

<section class="bg-white">
    <div class="grid grid-cols-2 justify-center pt-24 px-4 md:px-24">
        <div class="">
            <img src="{{product.images.first.image}}" />
        </div>
        <div class="">
            <h1>{{product.title}}</h1>
            <div class="flex justify-between">
                <div class="">{{product.rating}}</div>
                <div class="">{{product.rating_count}}</div>
            </div>
            <div class="">{{product.price}} {{product.real_price}}</div>

        </div>
    </div>

</section>
<div class=""></div>
<div class="">{{product.rating}}</div>
</div>

<!-- REVIEWS LIST -->
{% include "shop/product/components/reviews.html" %}
{% endblock %}