<section class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-6 sm:px-6 lg:px-8 lg:py-8">
        <h2 class="text-center text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
            ¿Qué opinan los compradores de {{product.title}}?
        </h2>
        <div class="flex justify-center items-center flex-wrap gap-4 pt-8">
            {% for review in product.reviews.all %}
                {% include "includes/components/review-blockquote.html" %}
            {% endfor %}
        </div>
    </div>
</section>
  