{% extends "giftos/layouts/base.html" %}
{% load shop_extras %}

{% block title %}{{category.title}}{% endblock %}
{% block meta_description %}{{category.meta_description|slice:":159"}}{% endblock %}
{% block meta_keywords %}{{category.keywords}}{% endblock %}

{% block og_title %}{{category.title}}{% endblock %}
{% block og_description %}{{category.meta_description}}{% endblock %}
{% block meta_extra %}
<meta property="og:image" content="{{category.image}}" />
<meta property="og:image:width" content="{{category.image_width}}" />
<meta property="og:image:height" content="{{category.image_height}}" />
<!-- Canonical -->
<link rel="canonical" href="{{shop_config.canonical_url}}{% url 'category-slug' category.slug %}">
{% endblock %}

{% block content %}
<!-- CATEGORIES NAV -->
{% include "giftos/category/components/nav.html" with categories=shop_categories active_category=category %}

<!-- CATEGORY DETAILS - DESCRIPTION -->
<section class="my-4">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="text-uppercase" style="font-size: 2.3rem;">
                    {{category.title}}
                </h1>
            </div>
        </div>
        <div class="row pt-3 align-items-center">
            <div class="col-12 col-md-7" style="font-size: 1.25rem;">
                <p class="text-center">
                    {{category.description}}
                </p>
            </div>
            <div class="col-12 col-md-5 overflow-hidden d-flex align-items-center justify-content-center" style="font-size: 1.25rem; height: 30vh;">
                <img height="100%" width="auto" data-src="{% if category.image %}{{category.image.url}}{% endif %}" class="lazy" alt="Imagen de la categoría {{category.title}}">
                </p>
            </div>
        </div>
        {% if user.is_staff %}
        <div class="row py-3">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <a target="_blank" href="/admin/shop/category/{{category.id}}/change" class="btn btn-primary mr-2">Editar categoría {{category.title}}</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- SUB CATEGORIES LIST -->
{% if category.childs.all.count > 0 %}
{% include "giftos/category/components/list.html" with categories=category|childs %}
{% endif %}

<!-- PROMO PRODUCTS -->
{% if promo_products.count > 0 %}
{% include "giftos/product/components/list.html" with products=promo_products.all|slice:":4" title="Últimas oportunidades"%}
{% endif %}

<!-- CATEGORY DETAILS - TEXT -->
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{category.text|safe}}
            </div>
        </div>
    </div>
</section>

<!-- BEST SELLING PRODUCTS -->
{% if bestselling_products.count > 0 %}
{% include "giftos/product/components/list.html" with products=bestselling_products.all|slice:":4" title="Los más vendidos"%}
{% endif %}

<!-- REVIEWS LIST -->
{% if reviews.count > 0 %}
{% include "giftos/review/components/carousel.html" with title=category.title reviews=reviews %}
{% endif %}

<!-- BEST RATED PRODUCTS -->
{% if bestrated_products.count > 0 %}
{% include "giftos/product/components/list.html" with products=bestrated_products.all|slice:":4" title="Mejor valorados"%}
{% endif %}

<!-- ALL PRODUCTS -->
{% if category|products is not None %}
{% include "giftos/product/components/list.html" with products=category|products title="Todos los productos"%}
{% endif %}

{% endblock %}


{% block script_extra %} 
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ItemList",
        "url": "{{shop_config.canonical_url}}{% url 'category-slug' category.slug %}",
        "itemListElement":[
            {% for product in category|products %}
            {
                "@type":"Product",
                "url":"{{shop_config.canonical_url}}{% url 'product-slug' product.slug %}",
                "asin": "{{product.asin}}",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "{{product.rating}}",
                    "reviewCount": "{{product.rating_count}}"
                },
                "description": "{{product.description}}",
                "name": "{{product.title}}",
                "image":  [
                    "{{product.images.first.large}}"
                ],
                "offers": {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "price": "{{product.price}}",
                    "priceCurrency": "EUR"
                },
            },
            {% endfor %}
        ]
    }
</script>
{% endblock %}