{% extends "giftos/layouts/base.html" %}

{% load shop_extras %}

{% block title %}Todas las categorías{% endblock %}
{% block meta_description %}Meta description{% endblock %}
{% block meta_keywords %}ninos,juguetes,ropa,productos,ninas{% endblock %}

{% block og_title %}Las categorías en deninos.com{% endblock %}
{% block og_description %}Todas las categorías de productos en venta.{% endblock %}

{% block meta_extra %}
<!-- Canonical -->
<link rel="canonical" href="{{canonical_url_base}}{% url 'category-list' %}">
{% endblock %}

{% block content %}

{% include "giftos/category/components/nav.html" with categories=shop_categories %}
{% include "giftos/category/components/list.html" with categories=shop_categories %}

{% endblock %}