{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}{% block title_end %} {{site_config.title_decorator}}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    {% block meta_extra %}
    {% endblock %}

    <!-- Favicon -->
    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{% if site_config.favicon %}{{site_config.favicon.url}}{% endif %}">
    {% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
    <!-- LazyLoad -->
    <script src="{% static 'common/js/lazyload.min.js' %}" ></script>
    {% block styles_global %}
    <!-- Global Styles.css -->
    <link rel="stylesheet" href="{% static 'common/css/styles.css' %}">
    {% endblock %}
    {% block styles %}
    {% endblock %}
</head>

<body class="" style="
color: #101010;
background-color: rgb(249, 249, 249);
font-family:'poppins',sans-serif;">
    <!-- Header -->
    {% block header %}
    <header>
        <!-- Nav -->
        {% block nav %} {% include "common/common/components/nav.html" %} {% endblock %}
        <!-- Hero -->
        {% block hero %}{% endblock %}
    </header>
    {% endblock %}
    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% block footer %}
    {% include "common/common/components/footer.html" %}
    {% endblock %}
    <!-- JQuery -->
    <script defer async src="{% static 'common/js/jquery-3.7.1.slim.min.js' %}" ></script>
    <!-- Bootstrap JS -->
    <script defer async src="{% static 'common/js/bootstrap.bundle.min.js' %}" ></script>
    <!-- LazyLoad Init -->
    <script>
        var lazyLoadInstance = new LazyLoad({});
    </script>
    <!-- Google tag (gtag.js) -->
    <script defer async src="https://www.googletagmanager.com/gtag/js?id={{SITE_GTAG_ID}}"></script>
    <script defer async>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{SITE_GTAG_ID}}');
    </script>
    {% block script_extra %}{% endblock %}
</body>


</html>