{% extends "giftos/layouts/base.html" %}

{% load shop_extras %}

{% block title %}{{shop_config.title_home}}{% endblock %}
{% block meta_description %}{{shop_config.description_home|slice:":159"}}{% endblock %}
{% block meta_keywords %}{{shop_config.keywords_home}}{% endblock %}

{% block meta_extra %}
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{shop_config.canonical_url}}{% url 'shop-home' %}">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_ES" />
<meta property="og:title" content="{{shop_config.title_home}}">
<meta property="og:description" content="{{shop_config.description_home}}{% url 'shop-home' %}">
<meta property="og:image" content="shop_config.image_home.url">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{shop_config.canonical_url}}">
<meta property="twitter:url" content="{{shop_config.canonical_url}}">
<meta name="twitter:title" content="{{shop_config.title_home}}">
<meta name="twitter:description" content="{{shop_config.description_home}}">
<meta name="twitter:image" content="shop_config.image_home.url">

<link rel="canonical" href="{{shop_config.canonical_url}}{% url 'shop-home' %}">
{% endblock %}


{% block content %}

{% include "giftos/category/components/nav.html" with categories=shop_categories %}


<!-- TITLE - DESCRIPTION -->
<section class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase" style="font-size: 2.7rem;">
                    {{shop_config.title_home}}
                </h1>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 text-center" style="font-size: 1.25rem; ">
                {{shop_config.description_home|safe}}
            </div>
        </div>
        {% if user.is_staff %}
        <div class="row py-3">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <a target="_blank" href="/admin/shop/config/1/change" class="btn btn-primary mr-2">Editar Página Home</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% include "giftos/category/components/list.html" with categories=shop_categories %}

{% endblock %}