<style>
    .carousel-content {
        --carousel-width: min-content;
        width: var(--carousel-width);
        display: inline-flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: none;
        -ms-overflow-style: none;
        /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
        /* Hide scrollbar for Firefox */
    }

    .carousel-content::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for Chrome, Safari and Opera */
    }

    .carousel-content .carousel-item {
        flex: 1 0 auto;
    }

    .carousel .carousel-button-r {
        position: absolute;
        right: 10px;
    }

    .carousel .carousel-button-l {
        position: absolute;
        left: 10px;
    }

    .carousel .carousel-button-l svg {
        transform: rotate(180deg);
    }
</style>

<div class="carousel flex items-center gap-4 w-full">
    <button id="{{carusel_id}}-btn-left"
        class="hidden carousel-button-l bg-gray-50 rounded-full shadow-md border border-gray-400 shadow-gray-400 hover:shadow-lg text-amber-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 19 19" stroke="currentColor">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div id="{{carusel_id}}-content" class="carousel-content gap-4">
        {% for obj in objs %}
        {% include "shop/product/components/item.html" %}
        {% endfor %}
    </div>
    <button id="{{carusel_id}}-btn-right"
        class="hidden md:block carousel-button-r bg-gray-50 rounded-full shadow-md border border-gray-400 shadow-gray-400 hover:shadow-lg text-amber-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 19 19" stroke="currentColor">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
        </svg>
    </button>
</div>
<script type="text/javascript">
    // Scroll with buttons
    document.getElementById("{{carusel_id}}-btn-right").onclick = function () {
        document.getElementById("{{carusel_id}}-content").scrollLeft += 470;
    };
    document.getElementById("{{carusel_id}}-btn-left").onclick = function () {
        document.getElementById("{{carusel_id}}-content").scrollLeft -= 470;
    }
    // Hide/show left button when scrolling
    document.getElementById("{{carusel_id}}-content").addEventListener("scroll", (event) => {
        if (document.getElementById("{{carusel_id}}-content").scrollLeft > 0) {
            document.getElementById("{{carusel_id}}-btn-left").style.display = "block";
        } else {
            document.getElementById("{{carusel_id}}-btn-left").style.display = "none";
        }
    });
    // Hide/show right button if scrollable
    window.onload = (event) => {
        if (document.getElementById("{{carusel_id}}-content").parentElement.scrollWidth < document.getElementById("{{carusel_id}}-content").scrollWidth) {
            document.getElementById("{{carusel_id}}-btn-right").style.display = "block";
        } else {
            document.getElementById("{{carusel_id}}-btn-right").style.display = "none";
        }
    }
</script>